*,
*::after {
    /* box-sizing: inherit;
    box-sizing: border-box; */
}

:root {
    --brand-color: #4D5AE5;
    --text-color: #FFFFFF;
    --logo-color: #000000;
    --o-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    display: block;
    display: inline-flex;
}
img {
    display: block;
}

address {
    font-style: normal;
}

body {
    font-family: "Roboto",sans-serif;
    color: #212121;
}
/* Logo */
.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
    text-decoration: none;
    display: block;
    margin-right: 77px;
}

.web {
    color: #2E2F42;
}

.header-link {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    
    display: flex;
    align-items: center;
    background-color: var(--text-color);
    margin: 0;
    
}
.header li {
    position: relative;
    margin-right: 40px;
    
}
.header-links {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list {
    border-bottom: 2px var(--brand-color);
    
    
}


.header .header-list-back {
    margin-right: 0;
    
}

.header-animation {
    margin-right: 40px;
    
}

 

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.auth-nav .header {
    display: block;
    display: flex;
    align-items: center;
}

.posted a {
    display: block;
    padding-top: 24px;
    padding-bottom: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
    

.header-links:hover,
.header-links:focus {
    color:var(--brand-color);
}

.posted a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .posted li {
    margin-right: 40px;
} */
.posted .link-mailto {
    margin-right: 0;
}
/* .container ul {
    display: block;
    display: flex;
} */
.container-posted {
    padding-left: 215px;
    padding-right: 15px;
    margin: 0 auto;
}
.posted {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-left: auto;
}
.posted a:hover,
.posted a:focus,
.posted a:active {
    color: var(--brand-color);
}




.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
    opacity: 1;
}



/* Hero-main */
/* .hero,
.footer {
    background-color: #2E2F42;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
} */
.hero-main {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 30px;
}
/* .hero {
    position: relative;
    padding-top: 188px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images-2/Hero-bckg.jpg);
    max-width: 1440px;
    text-align: center;
    background-size: cover;
}

.hero-container {
    position: relative;
} */

.hero-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--brand-color);
    color: var(--text-color);
    padding: 16px 32px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: transparent;
    border-radius: 4px;
}
button .hero {
    padding: 10px;
}



.hero-btn:hover,
.hero-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--brand-color);
}

.container-portfolio .list {
    display: block;
    display: flex;
    flex-wrap: wrap ;
}

/* Опис проєктів */
.about h3 {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.about  {
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 4px;
}
.container-about-icon {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 8px;
}
.icon-about {
    display: flex;
    fill: #AFB1B8;
}
.about-sections {
    margin-right: 24px;
    /* flex-basis: calc(100% - 4 * 12px); */
}
.about-sections:last-child {
    margin-right: 0;
}

/* .list-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 10px;
}
.section-description {
    padding-bottom: 120px;
}

.section-img li {
    margin-right: 24px;
}
.section-img li:last-child {
    margin-right: 0;
}
.section-img-link {
    
    position: absolute;
} */
.list-names {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.list-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}


/* Чим займається кожен з команди */
/* .section-description-text {
    font-weight: 600;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.section .container {
    padding-bottom: 120px;
}
.list-names {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}



.list-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #757575;
    margin-bottom: 16px;
} */

/* Hero-portfolio */
.hero-portfolio button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    font-family: inherit;
    cursor: pointer;
    background-color: #F5F4FA;
    padding: 8px 16px
    
}
.hero-portfolio-button li {
    margin-right: 24px;
}
.hero-portfolio-button li:last-child {
    margin-right: 0;
}
.hero-portfolio-button button {
    display: block;
    display: flex;
    margin: 0 auto;
    
    border-radius: 4px;
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--brand-color);
}

/* .list li a{
    display: block;
    display: flex;
    align-items: center;
}
.team img {
    margin-right: 30px;
}
.list a {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}
.list .list-project {
    margin-right: 0;
} */

.hero-portfolio button:hover,
.hero-portfolio button:focus {
    background-color: var(--brand-color);
    color: var(--text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}
.hero-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.hero-portfolio-button {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}
.list-portfolio {
    flex-wrap: wrap;
    gap: 48px 24px;
    display: flex;
}
.some-item {
    width: 360px;
    
}
.list-portfolio-cards:hover,
.list-portfolio-cards:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-portfolio-cards:hover .list-portfolio-link,
.list-portfolio-cards:focus .list-portfolio-link {
    top: 50%;
    
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: rgba(77, 90, 229, 1);
}
.some-item-thumb  {
    position: relative;
    overflow: hidden;

}
.headlines {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
}
.list-portfolio li a  {
    position: relative;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.list-portfolio li a .container {
    width: inherit;
    border: 1px solid #F4F4FD;
    border-top: 0;
    padding: 32px 16px;
}
.list-portfolio-link {
    
    position: absolute;
    display: flex;
    top: 197%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 100%;
    padding: 40px 32px;

    opacity: 0;
    overflow: hidden ;   
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-portfolio-link p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.section .container {
    padding-top: 0;
}
.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 72px;
    color: #2E2F42;
}
.section-team-cards {
    background-color: var(--text-color);
    width: 264px;
    margin-right: 24px;
}
/* .team li:last-child {
    margin-right: 0;
} */



/* .team li:not:last-child {
    padding-right: 0;
} */
/* .team .icon-team {
    display: flex;
    text-align: center;
    
} */
.icon-team-bloks {
    margin-right: 24px;
}
/* .team .icon-team li:last-child {
    margin-right: 0;
} */
.icon-team-links {
    padding: 12px ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
    border-radius: 50px;
    background-color: var(--brand-color);
}
/* .team .icon-team .icon-team-elements {
    margin-right: 10px;
} */
.icon-team-links:hover,
.icon-team-links:focus {
    color: #FFFFFF;
    background-repeat: no-repeat;
    fill: #F4F4FD;
    border-radius: 50px;
    background-color: #404BBF;
}
.icon-team-links .icon-time-icon {
    fill: currentColor;
}

/* .team .container  {
    display: block;
    width: 264px;
    padding: 32px 16px;
} */
.regular-customers {
    width: inherit;
    padding-top: 120px;
    padding-bottom: 120px;
}
.regular-customers h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
}
.icon-regular-customers li{
    display: flex;
    margin: 0 auto;
    display: block;
    display: flex;
    margin-right: 24px;
}
.icon-regular-customers li a{
    width: 168px;
    height: 88px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.icon-regular-customers li:nth-last-child(1n) {
    margin-right: 0;
}
.icon-regular-customers li:nth-last-child(2n) {
    margin-left: 0;
}
.icon-regular-customers li a:hover,
.icon-regular-customers li a:focus {
    border-color: var(--brand-color);
    border-radius: 4px;
    fill: var(--brand-color);
}





/* Футер */
.footer .logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color);
    display: inline-flex;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.web-footer span {
    color: #F4F4FD;
}
.pages a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    margin-bottom: 9px;
}
.link-footer {
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.link-footer .footer-link a{
    display: block;

}



.link-pages {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #757575;
    font-style: normal; 
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
}
.link-footer {
    flex-direction: column;
}
.link-footer .pages {
    margin-bottom: 9px;
}
.link-footer .pages a{
    margin-bottom: 0;
}
.link-footer .footer-link {
    margin-bottom: 9px;
}


.footer-container {
    display: flex;
    align-items: baseline;
}
.container-left {
    text-align: left;
    margin-right: 120px;
}
.container-left p {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer-rigth-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color: var(--text-color);
    margin-bottom: 16px;
    text-align: left;
}
.container-right-link {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    fill: var(--text-color);
    background-color: rgba(66, 67, 85, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50px;
}
.icon-team-elements {
    margin-right: 16px;
}
.icon-team-elements:last-child {
    margin-right: 0;
}

.container-right-link:hover,
.container-right-link:focus {
    background-repeat: no-repeat;
    fill: #4D5AE5;
    fill: var(--text-color);
    border-radius: 50px;
    background-color: #31D0AA;
}
.container-footer-title {
    margin-left: 93px;
}
.footer-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.futter-form {
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-form-input-wrapper {
    position: relative;
}
.footer-form-submit:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form-submit {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 168px;
    height: 40px;
    background: var(--brand-color);
    border: transparent;
    border-radius: 4px;
    margin-left: 10px;
    color: var(--text-color);
    
    justify-content: space-around;
}
.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 8px 16px;
    transition: border-color var(--o-animation);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 16px;
}
.footer-form-input-icon {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}
.footer-form-input:focus {
    outline: none;
    border-color: var(--brand-color);
}

/* <-- modal-view --> */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);;    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-info {
    position: absolute ;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 594px;
    min-width: 408px;
    max-width: 408px;
    max-height: 594px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 24px;
    padding-top: 75px;
}
.modal-close {
}
.modal p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 17px;
}

.modal .modal-close {
    position: absolute;
    top: 34%;
    right: 63%;
    transform: translate(0%, -2%);
    
    top: 25px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
    transition: background-color var(--o-animation), color var(--o-animation);
}
.modal .modal-close:hover,
.modal .modal-close:focus {
    fill: var(--text-color);
    background-color: #404BBF;
}

.modal-form-field {
    display: block;
    margin-bottom: 8px;
}


.modal-form-input-desk {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
}
.modal-form-input-wrapper {
    display: block;
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--o-animation);
}
.modal-form-input:focus {
    outline: none;
    border-color: var(--brand-color);
}

.modal .modal-form-massage {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color var(--o-animation);
}
.modal .modal-form-massage::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    
}
.modal-form-input-icon {
    position: absolute;
    left: 12px;
    top: 11px;
    transition: fill var(--o-animation);
}
.modal-form-input:focus + .modal-form-input-icon {
    fill: var(--brand-color);
}
.modal .modal-form-massage:focus {
    outline: none;
    border-color: var(--brand-color);
    
}
.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    margin-top: 30px;
    margin-bottom: 25px;
}

.modal-form-check-desc::before {
    display: block;
    height: 16px;
    width: 16px;
    border:1px solid #212121;
    content: "";
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--brand-color);
    background-image: url(../images-2/icon-check.svg);
    color: var(--text-color);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline: none;
}
.modal-form-check:focus + .modal-form-check-desc::before {
    border: 1px solid var(--brand-color);
    outline: #2196F3;
}
.modal-form-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    min-height: 50px;
    background: var(--brand-color);
    border-radius: 4px;
    color: var(--text-color);
    border-color: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--text-color);   
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}



@media screen and (min-width: 320px) and (max-width: 767px){
    /* body {
        display: block;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;   
    } */
    .container {
        display: block;
        width: 428px;
        /* height: 432px; */
        /* justify-content: center; */
        /* text-align: center; */
        margin: 0 auto;
    }
    .header-container {
        display: flex;
        width: 428px;
        padding: 0 16px;
        justify-content: space-between;
    }
    .header-link {
        
       padding: 24px 0;
    }
    .burger-header {
        width: 32px;
        height: 22px;
    }
    .burger-header-fone {
        height: 22px;
    }
    .auth-nav {
        display: none;
    }
    .posted {
        display: none;
    }
    .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
    text-decoration: none;
    display: block;
    margin-right: 0;
    }
    .web {
        color: #2E2F42;
    }
    .hero {
        display: block;
        width: 428px;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images-adaptive/Mobile/mobile-hero-bg.jpg);
    }
    @media (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
        .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images-adaptive/Mobile/mobile-hero-bg@2x.jpg);
        background-size: 428px 432px;
        }
    }
    .hero-main {
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
    }
    .hero-btn {
        font-weight: 500;
        line-height: 1.5;
    }
    .container-about-icon {
        max-width: 479px;
        display: none;
    }
    .about-sections {
        display: block;
        align-items: center;
        margin-bottom: 72px;
    }
    .about-sections:last-child {
        margin-bottom: 0;
    }
    .about-sections {
        margin-right: 0;
    }
    .about {
        padding: 96px 0;
    }
    .about-container {
        width: 428px;
        margin: 0 auto;
        padding-right: 16px;
        padding-left: 16px;
    }
    .about h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
    }
    .list-project {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .section-description {
        display: none;
    }
    .section-team {
        padding-top: 96px;
        padding-bottom: 128px;
    }
    .section-team-containers {
        width: 428px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .container-icon-team-mobile {
        width: 328px;
        margin: 0 auto;
    }
    .icon-team {
        display: flex;
        text-align: center;
    }
    .icon-team-bloks {
        margin-right: 0;
    } 
    .team {
        display: block;
        align-items: center;   
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .section-team-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
    }
    .section-team-cards {
        display: block;
        margin: 0 auto;
        margin-bottom: 72px;
        margin-right: ;
    }
    .section-team-cards:last-child {
        margin-bottom: 0;
    }
    
    .section-team-container {
        display: block;
        padding: 32px 16px
    }
    
    .icon-team-bloks:last-child {
        margin-right: 0;
    }
    .icon-regular-customers {
    display: flex;
    flex-wrap: wrap;
    }
    .icon-regular-customers li {
    margin-right: 16px;
    margin-bottom: 72px;
    }
    .regular-customers h2 {
        margin-bottom: 72px;
    }
    .regular-customers {
        padding: 96px 0;
    }
    .regular-customers-container {
        width: 428px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .icon-regular-customers li a {
        width: 190px;
    }
    .footer-container {
        width: 428px;
        margin: 0 auto;
        padding: 0 16px;
        display: block;
    }
    .container-footer-title {
        display: block;
        margin-left: 0 ;
    }
    .container-left  {
        width: 268px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 72px;
        
    }
    .container-left p {
        width: 100%;
        margin-top: 16px;
        text-align: left;
    }
    .container-right {
        width: 208px;
        margin: 0 auto;
        margin-bottom: 72px;
    }
    .footer {
        padding: 96px 0;
        background-color: #2E2F42;
    }
    .futter-form {
        display: block;
    }
    .footer-title {
        margin-bottom: 16px;
        text-align: center;
    }
    .footer-form-input {
        width: 100%;
    }
    .footer-form-submit {
        display: flex;
        margin: 0 auto;
        width: 165px;
        padding: 8px 16px;
    }
    .footer-rigth-title {
        text-align: center;
    }
    .footer-title-email {
        display: block;
        margin-bottom: 16px;
    }
    .burger-header-icon {
        display: block;
        fill: #000000;
    }
    .burger-header {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
    }
    .burger-header .icon-cross {
        display: none;
    }
    .burger-header.is-open .icon-cross {
        display: block;
    }
    .burger-header.is-open .burger-header-icon {
        display: none;
    }
    .mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-modal {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 428px;
        height: 100%;
        background: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 80px 40px 40px 40px;
    }

    .mobile-modal-close {
        position: absolute;
        top: 34%;
        right: 63%;
        transform: translate(0%, -2%);
        top: 40px;
        right: 40px;
        width: 24px;
        height: 24px;
        background: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        align-items: center;
        transition: background-color var(--o-animation);

    }
    
    .modal-close:hover,
    .modal-close:focus {
        fill: var(--text-color);
        background-color: #404BBF;
    }
    .header-mobile {
        display: block;
        margin-bottom: 284px ;
    }
    .mobile-header-list {
        margin-bottom: 40px;
        
    }
    .mobile-header-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        text-decoration: none;
        transition: color 250ms var(--o-animation);
    }
    .mobile-header-link:hover,
    .mobile-header-link:focus {
        color: #404BBF;
    }
    .moobile-acent {
        color: #404BBF;
    }
    .posted-mobile {
        display: block;
    }
    .mobile-posted-link {
        margin-bottom: 40px;
    }
    .posted-link-mailto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        color: #404BBF;
        transition: color 250ms var(--o-animation);
        text-decoration: none;
    }
    .posted-mobile-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms var(--o-animation);
        text-decoration: none;
    }
    .posted-mobile-link:hover,
    .posted-mobile-link:focus {
        color: #4D5AE5;
    }
    .posted-link-mailto:hover,
    .posted-link-mailto:focus {
        color: #4D5AE5;
    }
    .icon-team {
        justify-content: space-between;
    }
    .mobile-backdrop .icon-team-links {
        padding: 8px;
    }
    .mobile-backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    
    

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 736px;
        display: flex;
        margin: 0 auto;
    }
    .header-container {
        width: 768px;
        justify-content: space-between;
        padding: 0px 15px 0px 15px;
    }
    .header {
        display: flex;
    }
    .header-link {
        /* width: 767px; */
        margin: 0 auto;
    }
    .link {
        margin-bottom: 8px;
    }
    .burger-header {
        display: none;
    }
    .posted {
        display: block;
    }
    .posted a {
        padding: 0;
        font-size: 12px;
        line-height: 1.33;
    }
    .hero {
        display: block;
        width: 768px;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images-adaptive/Tablet/Dark-bg-tablet.jpg);
    }
    .hero-container {
        padding-top: 112px;
        padding-bottom: 112px;
    }
    @media (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images-adaptive/Tablet/Dark-bg-tablet@2x.jpg);
            background-size: 768px 436px;
        }
    }
    .hero-main {
        margin-bottom: 40px;
    }
    .container-about-icon {
        display: none;
    }
    .list {
        flex-wrap: wrap;
        display: flex;
        gap: 72px 24px;
    }
    .about {
        /* width: 768px; */
        /* justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 96px 16px; */
    }
    .about-container {
        width: 768px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;

    }
    .about h3 {
        text-align: left;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }
    .list-project {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455
    }
    .about-sections {
        width: 356px;
        margin: 0;
        /* flex-basis: auto; */
        justify-content: space-between;
        text-align: left;
    }
    .section-description {
        display: none;
    }
    .team {
        
        /* padding: 96px 96px 108px 108px; */
        display: flex;
        
        margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }
    .section-team {
        padding: 96px 0;
        background-color: #F4F4FD;
    }

    .icon-team {
        display: flex;
    }
    .section-team-cards {
        margin-right: 0;
    }
    .section-team-container {
        padding: 32px 16px;
    }
    .section-team-containers {
        width: 768px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .icon-team-bloks:last-child {
        margin-right: 0;
    }
    .icon-regular-customers {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    }
    .regular-customers {
        padding: 96px 0;   
    }
    .regular-customers-container {
        width: 768px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .icon-regular-customers li {
        margin: 0;
    }
    .regular-customers h2 {
        margin-bottom: 72px;
    }
    .footer {
        background-color: #2E2F42;
        padding: 96px 0;
    }
    .footer-container {
        display: block;
        width: 768px;
        /* padding: 96px 164px 96px 108px; */
        margin: 0 auto;
        padding: 0 15px 0 123px;
    }
    .footer-contauner-tablet {
        display: flex;
        margin-bottom: 72px;
        /* justify-content: center; */
    }
    .container-left {
        margin-right: 24px;
    }
    .futter-form {
        text-align: left;
        justify-content: left;
    }
    .container-footer-title {
        margin-left: 0;
    }
    .mobile-backdrop {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
   body {
    /* max-width: 1440px; */
    /* margin: 0 auto; */
   }
    .burger-header {
    display: none;
   }
   .link {
    margin-right: 40px;
   }
   .link-mailto a {
    margin-right: 0;
   }
   /* .header-link {
    width: 1200px;
    margin: 0 auto;
   } */
   .header-container {
    /* padding-left: 120px;
    padding-right: 120px; */
    /* margin: 0 auto; */
   }
   .hero {
    display: block;
    max-width: 1440px;
    /* height: 600px; */
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images-adaptive/description/people-office-desctop.jpg);
   }
   .hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
   }
   @media (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
       .hero {
           background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images-adaptive/description/people-office-desctop@2x.jpg);
           background-size: 1440px;
       }
   }
   .about-sections {
    margin-right: 24px;
    flex-basis: calc(100% - 4 * 12px);
   }
   .list {
    display: flex;
   }
   .about {
    /* display: block; */
    /* width: 1200px; */
    /* justify-content: center;
    text-align: center;
    margin: 0 auto; */
    /* padding: 120px 36px; */
   }
   .about-container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   .section-description {
    padding-bottom: 120px;
   }
   .list-project {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   }
   /* .section-description {
    display: block;
    width: 1200px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 120px 36px;
    padding-top: 0;
   } */
   .section-description-container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-bottom: 120px; */
   }
   .section-description-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
   }
   .section-img {
    display: flex;
    justify-content: space-between;
   }
   /* .section-team {
        display: block;
        width: 1200px;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 120px 36px;
   } */
   .section-team-containers {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   .section-team-cards:last-child {
    margin-right: 0;
   }
   .team {
    display: flex;
   }
   .icon-team {
    display: flex;
   }
   .icon-team-bloks:last-child {
    margin-right: 0;
   }
   .icon-regular-customers li:nth-last-child(2n) {
    margin-left: 24px;
   }
   .icon-regular-customers li:first-child {
    margin-left: 0;
   }
   .section-team-container {
    padding: 32px 16px;
   }
   /* .regular-customers {
    display: block;
    width: 1200px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 120px 36px;
   } */
   .regular-customers-container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   .icon-regular-customers {
    display: flex;
   }
   .footer {
    background-color: #2E2F42;
    /* max-width: 1440px; */
    /* margin: 0; */
    padding: 100px 0px;
   }
   .footer-container {
    display: block;
    /* background-color: #2E2F42; */
    width: 1158px;
    /* padding: 108px 0px; */
    display: flex;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   .footer-contauner-tablet {
    display: flex;
   }
   .mobile-backdrop {
    display: none;
   }
}